---
title: Development of a Movie Website
date: "2023-04-03"
---
## How to develop a Movie Website
This blog is about the development and concept of this [Movie Database](https://movie-db-two-hartmann-jonas.vercel.app) website.
The website is hosted on [Vercel](https://vercel.com) and was developed using [Svelte](https://svelte.dev) as well as the [TheMovieDB API](https://developers.themoviedb.org/3).

## Features
The website has the following features:  
✅ Daily popular movies  
✅ Search movie by name  
✅ User login  
✅ Like movies  
✅ Save movies  
✅ Individualized recommendations  
❌ More optimized recommendations  
❌ Links to watch the movie on the movie providers website


## Documentation
How do I document the process developing that website? I set myself some rules to keep each update consistant.
* This post gets updated each time a news feature is introduced
* This post serves as documentation on how to use the site
* Each "Version" post describes the changes that were made as well as new features and includes a link to the GitHub commit
* A "Version" post consists of the following sections: Description, Changes, Features

The "Version" posts follow this template:

```
---
title: Version x.x.x
date: "2023-04-03"
---
# Short Title

## Description
Some descriptive text that gives a quick
overview on the changes made.

## Changes
More detailed desctiption of the changes:
1. Fetch function to get this
2. Restructuring the navbar to improve 
3.

Some more descriptive text about changes in detail

## Features
✅ Cool new feature ✨  
✅ Another mediocre feature 🎉  

## Code
In here some selected code will be explained more in depth.
´´´ts
function foo() {
    return 'bar'
}
´´´
<hr>
<br>
Commit: <a href="<<link to commit>>" target="_blank">Version x.x.x</a>

Published: 2023-xx-xx
```


<hr>
<br>
Repo: <a href="https://github.com/hartmann-jonas/movie-db-two" target="_blank">github.com</a>

Published: 2023-04-03